$breakpoints: (
  "xs-phone": 580px,
  "phone": 640px,
  "tablet": 768px,
  "tablet-x": 992px,
  "desktop": 1024px,
  "widescreen": 1200px,
  "widescreen-large": 1400px,
);

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/bootstrap";
@import "vendors/fontawesome";
@import "vendors/fontawesomefive";
@import "vendors/slick";
@import "vendors/datatable";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;700&family=Noto+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "vendors/sociallinks";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"],
.btn {
  position: relative;
  height: 36px;
  line-height: 32px;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 0 25px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: $orange;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  @include ease;

  &:hover {
    background-color: #0f53ba;
    color: #fff;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.container {
  max-width: 1200px;
}

ul {
  margin: 0;
  padding: 0;
}

.img-box {
  img {
    @include img-reset;
  }
}

// .img-box{
// 	overflow: hidden;
// 	position: relative;

// 	img{
// 		@include img-reset;

// 		&.ful-width{
// 			width: 100%;
// 		}
// 	}
// }

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  @include ease;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
  .logo {
    width: 130px;
    float: left;
    display: block;
    margin: 15px 0;
    img {
      @include img-reset;
    }
  }

  .flex-box {
    display: flex;
    width: calc(100% - 150px);
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;

    nav {
      ul {
        list-style: none;
        position: relative;

        li {
          display: inline-block;
          padding: 0 20px;
          a {
            color: $orange;
            font-size: 18px;
            line-height: 25px;
            font-family: $roboto;
            font-weight: 300;
            &:hover {
              color: $blue;
              @include ease;
            }
          }
        }
      }
    }

    .auth {
      .btn {
        &:hover {
          background-color: $blue;
        }

        &:last-child {
          color: $blue;
          background: transparent;
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
}

.banner {
  position: relative;
  background: #0f53ba;
  color: #fff;
  min-height: 80vh;

  .text-box {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    color: #fcf7f7;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;

    h1 {
      font-size: 60px;
      font-weight: 700;
      line-height: 80px;
    }
  }
}

section {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  color: #fcf7f7;

  &.services {
    background-color: $orange;
  }

  .sec-heading {
    color: #6b6a6f;
    text-align: center;
    font-size: 18px;
    padding: 0 320px;
    font-weight: 300;
    line-height: 25px;
    h2 {
      font-size: 36px;
      font-weight: 700;
      color: $orange;
    }
    p {
      margin: 0;
    }
  }

  &.offer {
    .row {
      [class*="col"] {
        &:nth-child(even) {
          .card {
            .card-content {
              background-color: #ebebeb;
              color: #565a63;

              .amount {
                color: $blue;
              }

              .btn {
                background-color: transparent;
                &:hover {
                  background-color: $blue;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  &.about {
	background-image: url(../images/about-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
    .text-box {
		margin-top: 70px;
      font-size: 13px;
      line-height: 20px;
      color: #6b6a6f;
      h3 {
        font-size: 25px;
        line-height: 35px;
        color: $orange;
        margin-left: 20px;
      }

      h2 {
        color: $blue;
        font-size: 32px;
        line-height: 40px;
      }

      .btn {
        color: $blue;
        border: 2px solid $orange;
        background: transparent;
        margin: 50px 0;
        color: #0f53ba;
        border-radius: 8px;
        font-size: 22px;
        width: 200px;
        height: 55px;
        line-height: 50px;
        text-align: start;
		&:hover{
			background-color: $orange;
			color: #fff;
		}
      }
    }
  }
}

.text-box {

  h1 {
    font-size: 50px;
    line-height: 65px;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 0;
    span {
      margin-left: 20px;
      color: #565a63;
    }
  }

  h5 {
    font-size: 28px;
    span {
      color: #565a63;
      letter-spacing: 2px;
    }
  }

  p {
    margin: 0;
  }
}

.card {
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 50px;
  .card-header {
    background-color: $blue;
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px 8px 0 0;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 70px;
      height: 70px;
      left: 50%;
      border-radius: 50%;
      background-color: $blue;
      top: -30px;
      transform: translate(-50%, 0);
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      margin: 0;
    }
  }

  .card-content {
    background-color: $orange;
    padding: 20px 35px;
    border-radius: 0 0 8px 8px;

    .info {
      font-size: 16px;
      font-family: $roboto;
      margin-bottom: 10px;
      li {
        padding: 10px 0;
      }
    }

    .amount {
      font-size: 22px;
      font-weight: 700;
      font-family: $roboto;
    }

    .btn {
      border: 2px solid $blue;
      color: $blue;
      display: block;
      width: 132px;
      margin: 15px auto 0 auto;
      &:hover {
        background-color: #0f53ba;
        color: #fff;
      }
    }
  }
}

@include media("<tablet") {
}
